<style>
  .address-info {
    padding-top: 2vh;
  }
</style>
<div class="address-info">
  <div class="container">

    <h5 class="mb-2">Current address</h5>
    <p>
      Flat 88, My Street, Hounslow, London, UK. TW3 1QQ.
    </p>
    <hr>
    <h3 class="mb-4">Add new address</h3>
    <form role="form">
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Mobile Number</label>
        <div class="col-lg-9">
          <input class="form-control" type="text" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Phone Number</label>
        <div class="col-lg-9">
          <input class="form-control" type="url" value="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Address</label>
        <div class="col-lg-9">
          <input class="form-control" type="text" value="" placeholder="Street">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" value="" placeholder="City">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" value="" placeholder="State">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input class="form-control" type="text" value="" placeholder="Postcode">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"></label>
        <div class="col-lg-9">
          <input type="reset" class="btn btn-secondary" value="Cancel">
          <input type="button" class="btn btn-primary" value="Add">
        </div>
      </div>
    </form>

  </div>
</div>